#-----POSTGRES-----------
POSTGRES_USER=sublio
POSTGRES_PASSWORD=sublio
POSTGRES_DB=sublio


#-----------VAULT-----------
VAULT_ADDR=http://vault:8200
AUTH_SERVICE_ROLE_ID=
MEDIA_SERVICE_ROLE_ID=
JOB_SERVICE_ROLE_ID=
SUBTITLE_SERVICE_ROLE_ID=
WORKER_ROLE_ID=
GATEWAY_ROLE_ID=